<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>CRM Home</title>
</head>
<style>
    .hero {
        text-align: center;
        padding: 50px 0;
        background-color: #ffffff;
    }

    footer {
        text-align: center;
        padding: 30px 0;
        color: black;
        /* position: absolute; */
        bottom: 0;
        width: 100%;
    }

    footer p {
        margin-bottom: 10px;
    }

    footer a {
        color: black;
        text-decoration: none;
    }

    .features {
        padding: 3% 0;
    }

    .content h4 {
        font-size: 1.5em;
        margin-bottom: 30px;
        text-align: center;
    }

    .content {
        text-align: center;
        margin-bottom: 30px;
    }

    .card {
        /* width: 14rem; */
        transition: transform 0.3s ease;
        /* Add transition effect on transform */
    }

    .card:hover {
        transform: scale(1.2) translateZ(50px);
        /* Increase size of the card on hover */
    }

    .c {
        width: 90%;
        /* Adjust as needed */
        text-align: center;
        animation: colorChange 5s infinite alternate;
        /* Animation for font color */
    }

    @keyframes colorChange {
        0% {
            color: blueviolet;
        }

        25% {
            color: deeppink;
        }

        50% {
            color: limegreen;
        }

        75% {
            color: gold;
        }

        100% {
            color: red;
        }
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg bg-warning-subtle">
        <div class="container">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CRM
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Finance</a></li>
                <li><a class="dropdown-item" href="#">Sales</a></li>
                <li><a class="dropdown-item" href="#">Marketing</a></li>
                <li><a class="dropdown-item" href="#">Website</a></li>
                <li><a class="dropdown-item" href="#">Service</a></li>
                <li><a class="dropdown-item" href="#">Productivity</a></li>
                <li><a class="dropdown-item" href="#">Human Resource</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'CMR_home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'CMR_dashboard' %}">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ********** -->
    <!-- <div class="container mt-4">
        <marquee behavior="" direction="right"><h1>Welcome CRM</h1></marquee>
    </div> -->
    <div class="container">
        <section class="hero">
            <h1 style="color: darkred;">Welcome To Our CRM</h1>
            <p class="mt-4">An easy-to-use solution for managing customer relationships.</p>
            <a href="#"><button class="btn " style="background-color:coral;">Get Started</button></a>
        </section>
    </div>
    <div class="container text-center">
        <h2 style="font-style: italic;"><u>Key Features</u></h2>
    </div>
    <div class="container mt-4" style="background-color:rgb(179, 199, 237);border-radius: 50%;">
        <section class="features">

            <div class="content mt-2">
                <h4>Customer Management</h4>
                <p>Efficiently organize and track customer interactions.</p>
            </div>
            <div class="content">
                <h4>Analytics</h4>
                <p>Gain valuable insights into your business performance.</p>
            </div>
            <div class="content">
                <h4>Task Management</h4>
                <p>Create and assign tasks to team members with ease.</p>
            </div>
            <div class="content">
                <a href="#"><button class="btn" style="background-color: darkred; color: white;">Trail-For Free
                    </button></a>
            </div>
        </section>
    </div>
    <!-- *** -->
    <div class="container" style="display: flex;flex-direction: row;align-items: center;">
        <div class="" style="flex: 1;padding: 20px;">
            <h2 style="color: darkred;">Every user should follow operations</h2>
            <ol>
                <li>Create a customer</li>
                <li>Read the customer details</li>
                <li>Update customer details</li>
                <li>Delete a customer</li>
            </ol>
        </div>
        <div class="image" style="flex: 1;padding: 20px;text-align: center; ">
            <img src="https://img.freepik.com/free-vector/isometric-crm-illustration_52683-83950.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710374400&semt=sph"
                class="img-fluid" alt="">
        </div>
    </div>
    <!-- ****************** -->
    <div class="container">
        <img src="https://www.idenfy.com/wp-content/uploads/2020/10/Digital-Identity-Customer-Relationship_cover.png"
            class="img-fluid" width="100%" alt="">
        <div class="text-center mt-3">
            <button class="btn" style="background-color:darkred;color: #ffffff;">Read More</button>
        </div>
    </div>
    <!-- ************ -->
    <div class="row g-0 bg-body-secondary position-relative mt-4" style="margin-left: 20%;margin-right: 20%;">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="https://www.superoffice.com/contentassets/265205ce7d06431ca499b1961e4c57c8/customer-relationships.png"
                class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0" style="color: darkred;">Details</h5>
            <p>Another instance of placeholder content for this other custom component. It is intended to mimic what
                some real-world content would look like, and we're using it here to give the component a bit of body and
                size.</p>
            <a href="#" class="stretched-link"><button class="btn" style="background-color: darkred;color: #ffffff;">Go
                    Somewhere</button></a>
        </div>
    </div>
    <!-- ***** -->
    <h3 class="text-center mt-4">Our Companys</h3>
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred; text-align: left;">Reduce manual</h5>

                        <p class="card-text" style="color: lightslategrey;text-align: left;">Send quotes in just a few
                            clicks, manage your pipeline by drag-and-dropping, and more</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred; text-align: left;">Enable automation</h5>

                        <p class="card-text" style="color: lightslategrey;text-align: left;">Automate lead creation,
                            team assignment and focus on what really matters.</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred; text-align: left;">AI lead scoring</h5>

                        <p class="card-text" style="color: lightslategrey;text-align: left;">Too many leads? Our AI
                            scores leads to ensure you always work on the right priorities.</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred; text-align: left;">Manage leads</h5>

                        <p class="card-text" style="color: lightslategrey;text-align: left;">Create, acquire, import,
                            nurture, score, etc. Manage all aspects in a single place.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ************* -->
    <div class="container mt-3" style="display: flex;flex-direction: row;align-items: center;">
        <div class="video" style="flex: 1;padding: 20px;">
            <iframe width="400" height="250" src="https://www.youtube.com/embed/SlhESAKF1Tk"
                title="What is CRM and How Does it Work? | Salesforce" frameborder="0" class="img-fluid"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="content" style="flex: 1;padding: 20px;text-align: center; ">
            <h2 style="font-family: monospace;font-weight: bolder;color: blueviolet;">Less work, more sales</h2>
            <p>A simple yet powerful CRM for small Business Selling Picky Assist is One Stop Ready to Use All in One
                Software Solution to Streamline & automate your Entire Business in Just 1 hour Powered by Artificial
                Intelligence (AI)</p>
        </div>
    </div>
    <div class="container text-center mt-2">
        <button class="btn" style="background-color: blueviolet;color: #ffffff;">Start-Learn</button>
    </div>
    <!-- ********************* -->
    <div class="container text-center mt-4">
        <div style="padding-bottom: 8px;padding-top: 5px;margin-left: 15%;margin-right: 15%;" class="mb-5">
            <h1 class="text-center" style="font-family: serif;font-weight: bolder;color: darkorange;">Conversational CRM that Interacts
                without You</h1>
            <h2 style="animation: colorChange 5s infinite alternate;font-family: cursive;" class="c text-center"> Powered by
                AI</h2>
        </div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner mt-3">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://t4.ftcdn.net/jpg/04/35/98/57/360_F_435985707_lgjZdqlAUm8O4uqkLTwNSVphxS0v2uWe.jpg"
                        height="300px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://www.shutterstock.com/image-vector/paper-infographic-template-5-circle-260nw-2394946009.jpg"
                        height="300px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://www.shutterstock.com/image-vector/arrow-process-steps-chart-business-260nw-1308336979.jpg"
                        height="300px" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <img src="" class="img-fluid" alt="">
    </div>
<!-- ************* -->


    <!-- ****** -->

    <footer class="bg-warning-subtle mt-4">
        <p>&copy; 2024 CRM Company. All rights reserved.</p>
        <nav>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a> |
            <a href="#">FAQs</a>
        </nav>
        <div class="social-icons mt-3">
            <a href="#"><img
                    src="https://static.vecteezy.com/system/resources/thumbnails/023/986/613/small_2x/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png"
                    width="40px" height="40px" alt="Facebook"></a>
            <a href="#"><img src="https://freepngimg.com/save/62860-logo-twitter-computer-icons-free-photo-png/512x512"
                    width="40px" height="40px" alt="Twitter"></a>
            <a href="#"><img
                    src="https://png.pngtree.com/png-vector/20230225/ourmid/pngtree-three-dimensional-instagram-icon-png-image_6618437.png"
                    width="40px" height="40px" alt="Instagram"></a>
        </div>
    </footer>


</body>

</html>